body {
    background-image: url(../bgtile.png);
    background-repeat: repeat;
    background-color: lightgray;
}

.center {
    text-align: center;
}

.heading {
    font-family: serif;
    font-style: oblique;
    font-weight: bold;
}

.taskItem {
    list-style-type: none;
    font-family: sans-serif;
    font-size: x-large;
}

.editButton {
    float: right;
}

.deleteButton {
    float: right;
}

.doneButton {
    float: left;
    margin-right: 5px;
}

.strikethrough {
    text-decoration: line-through;
}