body {
    background-image: url(../bgtile.png);
    background-repeat: repeat;
    background-color: lightgray;
}

.center {
    text-align: center;
}

.heading {
    font-family: serif;
    font-style: oblique;
    font-weight: bold;
}